# Solana Public/Reliable RPC Endpoint
NEXT_PUBLIC_SOLANA_RPC_URL=https://rpc.ankr.com/solana

# Baton SPL Token Mint Address on Solana (pump.fun)
NEXT_PUBLIC_BATON_MINT_ADDRESS=2vdc4owf1MPz54jJCN61y3QSKqjcPpr32wJ9qKkmpump

# Telegram Alert Bot Configuration (Optional / Coin Listing Alerts)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
